@import url("../globals_cp.css");

.aboutContainer {
  /* background-image: url("/assets/background3.jpg"); */
  /*margin-top: -520px;*/
  padding: 0px 15px 50px 15px;
  position: relative;
}

.aboutContent {
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutTitle {
  background-image: url("/assets/caminhospotentes/cp_titlebg_onboard.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font: 300 15pt Argent CF, serif;
  color: var(--darkGreen);
  display: inline-block;
  padding: 0 15px;
  margin-bottom: 50px;
}

.aboutDescription {
  font: 100 12pt Arimo, sans-serif;
  line-height: 30px;
  letter-spacing: 0.5px;
  color: var(--lightBege);
  max-width: 830px;
}

.aboutDescription p {
  margin-bottom: 15px;
}

@media (max-width: 700px) {
  .aboutDescription {
    text-align: center;
  }
}
