@import url("../globals_cp.css");

.bonusContainer {
  background-image: url("/assets/caminhospotentes/cp_background7.jpg");
  padding: 50px 15px 0px 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bonusContent {
  max-width: 700px;
  margin: auto;
}

.bonusTitle {
  display: inline-block;
  margin: auto;
  background-image: url("/assets/caminhospotentes/cp_titlebg_bonus.png");
  background-repeat: no-repeat;
  background-size: cover;
  font: 300 15pt Argent CF, serif;
  color: var(--darkGreen);
  padding: 0 10px;
}

.bonusSubtitle {
  text-align: center;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #384439;
}

/* CARDS */
.bonusCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 45px;
  max-width: 700px;
  padding: 50px 25px 0 25px;
  margin: auto;
}

.bonusCards img {
  border-radius: 20px;
}

@media (max-width: 720px) {
  .bonusCards {
    justify-content: center;
    gap: 25px;
  }
}

.bonusCardContainer {
  position: relative;
}

.Cards,
.Cards2 {
  width: 240px;
  height: 359px;
  display: inline-block;
  cursor: pointer;
  left: 0;
}

.Cards {
  position: absolute;
  left: 0px;
  transition: 0.2s;
}
