@import url("../globals_cp.css");

.footerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 15px;
  /* background: url("/assets/caminhospotentes/cp_background5.jpg"); */
  color: var(--lightBege);
  font: 10pt Arimo, sans-serif;
  position: relative;
}

.footerContainer img {
  margin-bottom: 30px;
}

.footerContainer p {
  margin-bottom: 15px;
  max-width: 900px;
}
