@import url("../globals_cp.css");

.ModulesContainer {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -330px;
  padding: 350px 15px 120px 15px;
}

.ModuleTitle {
  font: 300 15pt Argent CF, serif;
  letter-spacing: 0.4px;
  background-image: url("/assets/caminhospotentes/cp_titlebg_modulos.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 0 20px 20px 20px;
}
.modulesSubtite {
  text-align: center;
  margin-bottom: 40px;
  font-size: 1rem;
  color: #152317;
}

/* CARDS */
.CardsContainers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  max-width: 800px;
  padding: 0 15px;
}

@media (max-width: 770px) {
  .CardsContainers {
    justify-content: center;
    gap: 25px;
  }
}

.cardContainter {
  position: relative;
}

.Cards,
.Cards2 {
  width: 240px;
  height: 359px;
  display: inline-block;
  cursor: pointer;
  left: 0;
  border-radius: 20px;
}

.Cards {
  position: absolute;
  left: 0px;
  transition: 0.1s;
}

.ModulesPaperBg {
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
  max-width: 725px;
}

.ModulesPaperBg img {
  width: 100%;
}

.ModulesText {
  position: absolute;
  top: 90px;
}

.ModulesText h3 {
  font: 600 15pt Argent CF, serif;
  letter-spacing: 0.4px;
  text-align: center;
  padding-bottom: 15px;
}

.ModulesText li {
  font: 300 13pt Arimo, sans-serif;
  line-height: 25px;
  letter-spacing: 0.5px;
  text-align: center;
  list-style: none;
}

.CardsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  max-width: 800px;
  padding: 0 25px;
}

#descriptionCard {
  display: none;
}

@media (max-width: 700px) {
  .ModuleTitle {
    background-size: cover;
    text-align: center;
    padding-top: 10px;
  }

  .CardsContainer {
    width: 310px;
  }

  .ModulesPaperBg img {
    height: 450px;
  }

  .ModulesText {
    padding: 20px 15px;
  }
}
