@import url("../globals_cp.css");

.parentsContainer {
  /* background-image: url("/assets/caminhospotentes/cp_background5.jpg"); */
  padding: 50px 15px;
  position: relative;
}

.parentsContent {
  max-width: 900px;
  margin: 0 auto;
}

.parentsTitle {
  font: 300 15pt Argent CF, serif;
  letter-spacing: 0.4px;
  background-image: url("/assets/caminhospotentes/cp_titlebg_pais.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  margin-bottom: 30px;
}

.parentsContent h3 {
  font: 300 14pt Argent CF, serif;
  letter-spacing: 1px;
  line-height: 28px;
  max-width: 630px;
  text-align: center;
  margin: 0 auto;
}

.parentsGrid {
  display: flex;
  flex-direction: row;
  max-width: 755px;
  margin: 45px auto 0 auto;
  align-items: center;
  gap: 56px;
}

.parentsGridLeft {
  max-width: 492px;
}

.parentsGridLeft h4 {
  font: 600 14pt Argent CF, serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.parentsGridLeft p {
  font: 300 15px Arimo Light, sans-serif;
  letter-spacing: 0.8px;
  line-height: 25px;
}

.parentsGrid img {
  border-radius: 20px;
}

@media (max-width: 700px) {
  .parentsGrid {
    flex-direction: column;
    text-align: center;
  }
}
