@import url("../globals_cp.css");

.webserieContainer {
  /* background-image: url("/assets/caminhospotentes/cp_background6.jpg"); */
  color: var(--lightBege);
  width: 100%;
  display: flex;
  padding: 0 15px;
  position: relative;
}

.webserieContainer img {
  border-radius: 0;
}

.webserieContent {
  max-width: 900px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.webserieTitle {
  font: 300 15pt Argent CF, sans-serif;
  letter-spacing: 0.4px;
  text-align: center;
  color: var(--darkGreen);
  background-image: url("/assets/caminhospotentes/cp_titlebg_serie.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* GRID */
.webserieGrid {
  display: flex;
  align-items: stretch;
  width: 100%;
  max-width: 848px;
}

.oculto {
  display: none;
}

/* LEFT */
.webserieGridLeft {
  max-width: 408px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.webserieGrid h4 {
  font: 100 12pt Arimo, sans-serif;
  text-transform: uppercase;
}

.webserieGrid b {
  font-weight: 700;
}

.webserieGrid h3 {
  font: 51pt Argent CF, serif;
  text-transform: uppercase;
  margin-top: -10px;
}

.webserieService {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font: 9.5pt Arimo, sans-serif;
  max-width: 333px;
  gap: 21px;
}

.webserieService span {
  color: #00bf63;
}

.webserieService div p {
  border: 1px solid var(--lightBege);
  border-radius: 3px;
  padding: 3px;
}

.webserieService div {
  display: flex;
  gap: 8px;
}

.webserieDescription {
  font: 100 12pt Arimo light, sans-serif;
  letter-spacing: 0.6px;
  word-spacing: 0.8px;
  line-height: 30px;
  margin-right: -50px;
  margin-top: 35px;
  width: 100%;
}

/* RIGHT */
.webserieGridRight {
  position: relative;
  width: 100%;
  flex-grow: 1.3;
  display: flex;
}

.webserieButtom {
  position: absolute;
  bottom: 30px;
  left: 40%;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--lightBege);
  color: var(--darkGreen);
  padding: 3px 15px;
  border-radius: 9px;
  display: none;
  cursor: pointer;
}

.cover_thumb_2 {
  /* width: 100%; */
  height: 90%;
  max-width: 491px;
  padding: 0 50%;
  position: relative;
  align-self: center;
}

/* THUMBNAILS */
.webserieThumbnails {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  gap: 6px;
  margin-top: 30px;
  max-width: 900px;
}

.webserieThumbnails img {
  width: 149px;
  display: inline-block;
}

@media (max-width: 800px) {
  .webserieGrid {
    flex-direction: column;
  }

  .oculto {
    display: inline-block;
    width: 100%;
    max-width: 491px;
    height: 418px;
    margin: 35px auto 10px auto;
    position: relative;
  }

  .webserieGridRight img:first-of-type {
    display: none;
  }

  .webserieGridLeft {
    align-items: center;
    margin: 15px auto;
    text-align: center;
  }
  .webserieDescription {
    margin: 0;
  }

  .webserieService {
    margin-bottom: 35px;
  }
}

@media (max-width: 500px) {
  .oculto {
    height: inherit;
    padding-top: 85%;
  }
}
