.header {
  padding: 25px 20px 100px;
  position: relative;
}

.header_bg {
  z-index: -1;
}

.header_wrap {
  max-width: 1000px;
  margin: 0 auto;
}

.header_content {
  display: flex;
  margin-top: 90px;
  align-items: center;
  height: 428px;
  min-height: 428px;
}

.header_center {
  width: 100%;
  max-width: 290px;
  height: 100%;
  max-height: 428px;
  flex-grow: 0;
  flex-shrink: 0;
  position: relative;
}

.header_center img {
  box-shadow: 4px 4px 12px 0px rgba(79, 64, 42, 0.35);
  border-radius: 2px;
}

.header_left,
.header_right {
  max-width: 355px;
  flex-grow: 1;
}

.header_left h1 {
  font-family: "Noto Sans Display", sans-serif;
  font-weight: 300;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 2;
  color: #9f8863;
  margin-bottom: 20px;
}

.header_left p {
  font-family: Lora, serif;
  font-size: 30px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 8px;
  color: #9f8863;
}

.header_left p span {
  color: #9f8863;
}

.header_right {
  position: relative;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header_right p:first-of-type {
  font-family: Lora, serif;
  font-size: 1rem;
  letter-spacing: 1px;
  line-height: 2.2rem;
  max-width: 280px;
  padding: 0 10px;
  color: #9f8863;
}

.header_right p:last-of-type {
  font-family: Lora, serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 20px;
  max-width: 280px;
  color: #9f8863;
}

@media (max-width: 869px) {
  .header_center {
    width: calc(290px * 0.7);
    height: 70%;
  }
}
