.about {
  /* background-image: url("../../../../public/assets/about-bg.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover; */
  position: relative;
  padding: 90px 35px 100px;
  background-color: rgba(255, 253, 251, 0.15);
}

.about_content {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}

.about_left {
  margin-left: 50px;
  max-width: 600px;
}

.about_left a,
.about_left a:visited {
  color: #2d86ee;
}

.about_right {
  width: 100%;
  max-width: 300px;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.about_right div {
  position: relative;
  width: 100%;
  padding-top: 139.6%;
}

.about_right img {
  width: 100%;
  box-shadow: 4px 4px 12px 0px rgba(79, 64, 42, 0.35);
}

.about_right p {
  font-family: Lora, serif;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 660px) {
  .about_content {
    flex-direction: column-reverse;
    gap: 60px;
  }

  .about_right img {
    width: 200px;
  }

  .about_right p {
    display: none;
  }

  .about_left {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
