.nav {
  width: 100%;
  transition: background-color 0.2s, top 0.2s;
  position: absolute;
  z-index: 5;
  left: 0;
  top: 0;
  padding: 25px 20px 0;
}
.nav_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.links {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  display: flex;
  gap: 30px;
}

.nav li {
  list-style: none;
}

.a {
  text-decoration: none;
  color: #4f402a;
}

.a:hover {
  color: #9f8863;
}

.current_menu {
  border-bottom: 1px solid #9f8863;
}

.menu_scroll {
  position: fixed;
  padding-top: 0;
  top: 0;
  left: 0;
  background-color: #fef9f6f4;
  border-bottom: 1px solid #9f886343;
  transition: background-color 0.2s, top 0.2s;
}

.menu_mobile {
  display: none;
}

@media (max-width: 869px) {
  .menu_mobile {
    display: block;
  }

  .menu_desktop {
    display: none;
  }
}

@media (max-width: 425px) {
  .logo a img {
    width: 230px;
    height: auto;
  }
}
