.testimonials {
  background-image: url("../../../../public/assets/testimonials-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 90px 20px 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.testimonials_content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
}

.testimonials_content button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.testimonials_next {
  transform: rotate(180deg);
}

.testimonials_images {
  display: flex;
  gap: 30px;
  max-width: 1000px;
  height: 210px;
  align-items: center;
  overflow-x: auto;
  margin: 0 20px;
}

.testimonials_img {
  width: 260px;
  flex-shrink: 0;
  transition: transform 2s ease, opacity 1s ease;
  cursor: zoom-in;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.testimonials_img img {
  max-width: 100%;
  max-height: 100%;
}

.testimonials_display {
  display: flex;
  gap: 15px;
  margin-top: 40px;
}

.testimonials_ball {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: 1px solid #4f402a;
  background-color: transparent;
  transition: background-color 1s ease;
}

.active_ball {
  background-color: #4f402a !important;
  transition: background-color 1s ease;
}
