@import url("../globals_cp.css");

.BAContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0 230px 0;
  position: relative;
}
.BAContent {
  max-width: 900px;
  padding: 30px 15px 20px 15px;
}

.BAContent h2 {
  font: 300 15pt Argent CF, serif;
  letter-spacing: 0.4px;
  text-align: center;
  padding-bottom: 50px;
  max-width: 600px;
  margin: 0 auto;
}

.gridContainter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 15px;
}

.gridContainter h3 {
  text-align: center;
  font: 300 15pt Arimo, sans-serif;
}

.wrongWay {
  border: 0.5px solid var(--darkGreen);
  display: flex;
  align-items: center;
  padding: 0 25px;
  height: 70px;
  margin: 15px 0;
  border-radius: 8px;
  background-image: url("/assets/caminhospotentes/cp_background4.jpg");
}

.wrongWay img {
  width: 20px;
  height: 20px;
  border-radius: 0;
}

.wrongWay p {
  padding-left: 15px;
  font: 300 12.5pt Arimo, sans-serif;
}

@media (max-width: 700px) {
  .gridContainter {
    display: flex;
    flex-direction: column;
  }
  .gridLeft {
    margin-bottom: 20px;
  }
}
