@import url("../globals_cp.css");

.buttom {
  display: flex;
  max-width: 100%;
  justify-content: center;
  padding: 0 10px;
  text-align: center;
}

.buttom a {
  font-family: Arimo, sans-serif;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #599964;
  max-width: 365px;
  color: var(--lightBege);
  font-weight: 600;
  border-radius: 20px;
  text-decoration: none;
}

.buttom a:hover {
  background-color: var(--darkGreen);
}
