@import url("../globals_cp.css");

.phraseContainer {
  background-image: url("/assets/caminhospotentes/cp_background5.jpg");
}

.phraseContainer h2 {
  padding: 80px 15px;
  font: 400 16pt Argent CF, serif;
  text-align: center;
  letter-spacing: 0.4pt;
  line-height: 35px;
  color: var(--darkGreen);
  max-width: 700px;
  margin: auto;
}
