@import url("../globals_cp.css");

.section1Container {
  height: 533px;
  width: 100%;
  margin-top: -210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 1;
}

@media (max-width: 1366px) {
  .section1Container {
    background-size: cover;
  }
}

.section1Content {
  display: flex;
  justify-content: center;
}

.section1Content img {
  min-height: 445px;
}

.Grid {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  position: absolute;
  top: 70px;
}

.Bullets1 {
  width: 50%;
}

.Bullets1 li img {
  /* display: inline-block; */
  padding-right: 8px;
  /* border-radius: 0; */
}

.Bullets1 h2 {
  font: 300 15pt Argent CF, serif;
  letter-spacing: 0.4px;
  padding-bottom: 18px;
  padding-top: 5px;
}

.Bullets1 li {
  font-family: Arimo, serif;
  font-size: 13pt;
  line-height: 25px;
  letter-spacing: 0.5px;
  list-style: none;
}

@media (max-width: 700px) {
  .section1Container {
    height: fit-content;
  }

  .Grid {
    flex-direction: column;
    position: static;
  }

  .collage {
    width: 250px;
    padding-top: 80px;
  }

  .Bullets1 {
    width: 100%;
    padding: 0 15px 130px 15px;
    margin-top: -40px;
  }
}
