.whatsapp {
  background-color: green;
  background-image: url("/assets/whatsapp.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
}

@media (max-width: 700px) {
  .whatsapp {
    right: 10px;
    bottom: 10px;
  }
}
